      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded border-bottom sticky-top navbar_full">
        <a class="navbar-brand" href="/">ChatRoom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle lang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" key='lang'>
               Language
              </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">     
          <button id="en" class="translate dropdown-item">English</button>
          <button id="hy" class="translate dropdown-item">Հայերեն</button>
          <button id="ru" class="translate dropdown-item">Русский</button>
          </div>
      </li>
          </ul>
        </div>
      </nav> 