<!DOCTYPE html>
<html lang="en">

<head>
	<title>ChatRoom</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" href="/img/chat.png">
</head>

<body>
	<% include header.ejs %>
	<div class="container-fluid login-container" id='app'>
		<div class="col-md-6 login-form-1 col-sm-12">
			<h3>Միանալ Խմբին</h3>
			<form>
				<div class="form-group">
					<input type="text" ref='roomName' class="form-control" placeholder="Խմբի Անունը" />
				</div>
				<div class="form-group">
					<input type="text" ref='userName' class="form-control " placeholder="Ձեր Մուտքանունը" />
				</div>
				<div class="form-group">
					<button class="btnSubmit" type='button' v-on:click='join'>Միանալ</button>
				</div>
			</form>
		</div>
	</div>

	<script src="js/vue.js"></script>
	<script>
		history.pushState(null, null, document.URL);
		new Vue({
			el: '#app',
			methods: {
				join: function () {
					fetch('/room',{
						method:"POST",
						headers: {
							'Content-Type': 'application/json',
						},
						body:JSON.stringify({
							roomName:this.$refs.roomName.value,
							userName:this.$refs.userName.value,
						})
					})
					.then(res=>res.json())
					.then(data=>{
						if(!data.err){
							window.location.assign(`/room?roomName=${data.roomName}&userName=${data.userName}`)
						}
						console.log(data);
					})
				
				}
			}

		})
	</script>

</body>

</html>