<!DOCTYPE html>
<html lang="en">
<head>
	<title>SarChat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="index/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="index/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="index/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="index/css/util.css">
	<link rel="stylesheet" type="text/css" href="index/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form" method="POST" action="/room">
					<span class="login100-form-title p-b-43">
						Join Room
						
					</span>
					
					<div class="wrap-input100 rs1 validate-input" data-validate = "Room Name is required">
						<input class="input100" type="text" name='room'>
						<span class="label-input100">Room Name</span>
					</div>
					
					
					<div class="wrap-input100 rs2 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="name">
						<span class="label-input100">Your Name</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Join
						</button>
					</div>
					
					<div class="text-center w-full p-t-23">
						<a href="index/#" class="txt1">
							Create Room?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="index/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="index/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="index/vendor/bootstrap/js/popper.js"></script>
	<script src="index/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="index/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="index/vendor/daterangepicker/moment.min.js"></script>
	<script src="index/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="index/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="index/js/main.js"></script>
	<script type="text/javascript">$(document).ready(()=>{$('input').val('')})</script>

</body>
</html>