html,body{
  width: 100%;
  height: 100%;
}

.navbar{
  background: #007bff;
  border-radius: 0px !important;
}

.room{

  font-size: 25px;
  margin: 0px auto;
  background: #007bff;
  color: white;
  padding: 3px 20px;
  /* text-align: end; */
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.room button {
  border-radius: 5px;
  background: #007bff;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  float: right;
  font-size: 18px;
  margin-top: 3.5px;
}

.brand{
  font-size:20px;color: white;
}