<div class="card-header navbar" style="
    height: 60px;
">
    <div style="display: inline-flex;width: auto;height: auto;"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1"
        data-name="Layer 1" viewBox="0 0 177.97 156.19" style="width: 30px; fill: white;">
        <defs></defs>
        <title>Untitled-1</title>
        <polygon points="95.08 0 62.87 156.19 82.88 156.19 115.08 0 95.08 0" class="cls-1"></polygon>
        <polygon
          points="57.54 140.79 37.16 140.79 62.83 115.12 68.49 87.7 66.25 89.94 0 156.19 54.36 156.19 57.54 140.79"
          class="cls-1"></polygon>
        <polygon points="120.43 15.4 140.81 15.4 115.14 41.07 109.49 68.49 111.73 66.25 177.97 0 123.61 0 120.43 15.4"
          class="cls-1"></polygon>
      </svg><span class="brand ml-1" style="font-weight: bold; font-style: italic;">
        isar Messenger</span></div>
</div>