
<html>
	<head>
		<link rel="stylesheet" href="css/preloader.css">
	</head>
	<body>
		<div id="preloader" >
			<img src="img/loading.gif" id='loader' alt="">
		</div>
		<script>
			document.body.onload = function(){
				document.getElementById('preloader').style.display = "none";
			}
	</script>
	</body>
</html>

<!DOCTYPE html>
<html lang="en">

<head>
	<title>isar Mesenger</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
	<link href="../fonts/fontawesome-5.9.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="icon" href="/img/isarLogo.svg">
</head>

<body>
	<div id='app'>
		<% include header.ejs %>

		<div class="container">

			<div class="input-group mt-2">
				<input ref="search" @input='search' class="form-control" placeholder="Փնտրել">
			</div>

			<div class="rooms">
					<div>
					<div class="room" v-if='searchResult.visible'>
						<a class="user"><i class="fas fa-users"></i>
							<button @click='join(searchResult.name)'>{{searchResult.response ? 'Միանալ' : "Ստեղծել"}}</button>
							<span>{{searchResult.name}}</span>
						</a>
						
					</div>
					<hr>
				</div>
	
				<h5>Լավագույն Խմբերը</h5>
				
				<div class="rooms">
					<div>
					<div class="room" v-for='room in rooms'>
						<a class="user"><i class="fas fa-users"></i>
							<button @click='join(room)'>Միանալ</button>
							<span>{{room}}</span>
						</a>
						
					</div>
					<hr>
				</div>









			</div>
		</div>


	</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script> -->
	<script src="js/vue.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script> -->
	<script src='js/index.js'></script>


</body>

</html>